<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мой кабинет</title>
</head>
<body>

<h1>Кабинет</h1>

<form action="/generate" method="POST">
    <input type="hidden" name="user_id" value="{{user_id}}">

    <select name="type">
        <option value="Изображение">Изображение</option>
        <option value="Видео">Видео</option>
    </select><br><br>

    <label>
        <textarea name="prompt"></textarea>
    </label><br><br>

    <button type="submit">Создать</button>
</form>

<h3>Ваши запросы:</h3>

{{requests}}

</body>
</html>