<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuroArt — Auth</title>
    <link rel="stylesheet" href="styles/index_style.css">
</head>
<body>

<div class="container">
    <div class="lang-switch" style="text-align: right; margin-bottom: 20px;">
        <button onclick="setLanguage('kz')" class="btn-lang">KZ</button>
        <button onclick="setLanguage('ru')" class="btn-lang">RU</button>
    </div>

    <h1>Neuro<span>Art</span></h1>
    <p class="subtitle" data-key="subtitle">Жасанды интеллект әлеміне қош келдіңіз</p>

    <h2 data-key="login_title">Кіру</h2>
    <form id="loginForm">
        <label>
            <input name="email" type="email" data-key="email_place" placeholder="Email" required>
            <input name="password" type="password" data-key="pass_place" placeholder="Password" required>
        </label>
        <div id="loginError" class="error-box"></div>
        <button type="submit" data-key="btn_login">Жүйеге кіру</button>
    </form>

    <hr>

    <h2 data-key="reg_title">Тіркелу</h2>
    <form id="regForm">
        <label>
            <input name="iin" type="text" inputmode="numeric" pattern="\d{12}" maxlength="12" data-key="iin_place">
            <input name="fio" data-key="fio_place" pattern="^[А-Яа-яЁёӘәІіҢңҒғҮүҰұҚқӨөҺһ\s]+$">
            <input name="phone" id="phone" data-key="phone_place">
            <input name="email" type="email" data-key="email_place">
            <input name="password" type="password" data-key="pass_reg_place">
        </label>
        <div id="regError" class="error-box"></div>
        <button type="submit" data-key="btn_reg">Тіркелу</button>
    </form>
</div>

<script src="https://unpkg.com/imask"></script>
<script src="scripts/index_script.js"></script>

</body>
</html>